@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/all.min.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body {
  /* background: linear-gradient(134.41deg, rgba(1, 4, 15, 0.95) 13.47%, #020613 56.64%, #020b18 90.93%); */
background: black;
  /* height:100vh; */
  color: white;
}
.buttons button,
.domainbtn {
  background: linear-gradient(
    91.24deg,
    #cf088c 39.72%,
    #cf088c 60.99%,
    #cf088c 80.28%
  );
}
.service {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
