@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/all.min.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  background: linear-gradient(
    180deg,
    rgba(16, 24, 53, 1) 0%,
    rgba(3, 9, 29, 1) 100%
  );
  color: white;
  height: 1000vh;
}
.buttons button, .domainbtn {
  background: linear-gradient(
    91.24deg,
    #cf088c 39.72%,
    #cf088c 60.99%,
    #cf088c 80.28%
  );
}
.service{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}